body{
	background-color: #253238;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
h1{
	color: white ;
	font-family: 'Monaco', monospace;
	font-size: 30px;
}

.container{
	position:relative;
	width: :600px;
	height:800px;
	text-align: center;


}
.card{
	position:absolute;
	width:400px;
	height:200px;
}

img{
	width:400px;
	height:200px;
}

.card.card6 {
	top:17%;
	right: 70%;
}
.card.card5{
	top:45%; right:70%;

}
.card.card2 {
	top:75%; right:70%;
}
.card.card3 {
	top:30%;left: 35%;
}
.card.card4 {
	top:60%; left:35%;
}

.card.card1{
	top:50%; left:77%;}

video {
	position: fixed;
	width:400px;
	height:200px;

	top: 16%; 
  left: 70%;
}
	







